@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.hero {
    background-image: url('../Images/elephant.jpeg');
    background-size: cover;
    background-position: bottom center;
    height: 80vh;
}

.hero h1 {
    color: azure;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    word-spacing: 22px;
    padding-top: 20px;
}

.article {
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    width: 80%;
    margin: 60px auto;
    background-color: burlywood;
    padding: 60px;
    border: 10px solid yellowgreen;
}

.article h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: darkslategrey;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 20px;
}

.article p {
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
}

/* display inline - height and width don't work */